@import '../mixins.scss';
.company{
    padding: 35px 0 80px 0;
    @include media(576){
        padding: 20px 0 40px 0;
    }
}
.title{
    font-size: 42px;
    line-height: 120%;
    text-align: center;
    max-width: 596px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    @include media(576){
        font-size: 32px;
        margin-bottom: 40px;
    }
    svg{
        margin-bottom: -5px;
    }
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    @include media(992){
        flex-direction: column-reverse;
        gap: 24px;
        justify-content: flex-start;
    }
    &+.item{
        margin-top: 80px;
        @include media(992){
            margin-top: 40px;
        }
    }
    &1{
        .itemRight{
            background: #0094FF;
        }
    }
    &2{
        @include media(992){
            flex-direction: column;
        }
        .itemRight{
            background: rgb(181, 140, 202);
        }
    }
    &3{
        .itemRight{
            background: rgb(236, 232, 230);
        }
    }
    &Left{
        width: 516px;
        @include media(576){
            width: 100%;
        }
    }
    &Right{
        height: 454px;
        width: 516px;
        border-radius: 1.25rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(576){
            padding: 0 20px;
            width: 100%;
        }
    }
    &Img{
        line-height: 0;
        @include media(576){
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            line-height: 0;
            max-width: 100%;
            max-height: 100%;
            @include media(576){
                object-fit: contain;
                // width: 100%;
            }
        }
    }
    &Title{
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 16px;
        font-weight: 700;
        max-width: 389px;
        @include media(992){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &P{
        max-width: 389px;
        font-size: 16px;
        line-height: 160%;
        color: rgb(98, 98, 112);
        @include media(992){
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        img{
            margin-right: 10px;
            &:nth-child(1){
                margin-bottom: -7px;
                margin-left: 10px;
            }
            &:nth-child(2){
                margin-bottom: -4px;
            }
            &:nth-child(3){
                margin-bottom: -8px;
            }
            &:nth-child(4){
                margin-bottom: -5px;
            }
        }
    }
}