@import '../mixins.scss';
.fees{
    padding-bottom: 80px;
    @include media(576){
        padding-bottom: 60px;
    }
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 42px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 8px;
    text-align: center;
    @include media(576){
        font-size: 27px;
    }
}
.desc{
    font-size: 18px;
    line-height: 120%;
    color: #626262;
    margin-bottom: 16px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    border: 2px solid #E6E6E6;
    padding: 8px;
    border-radius: 40px;
    margin-bottom: 40px;
    gap: 8px;
}
.button{
    border-radius: 40px;
    font-weight: 700;
    transition: 300ms ease-out;
    font-size: 14px;
    color: #0094FF;
    text-decoration: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    &.active{
        background: #0094FF;
        color: #fff;
    }
}
.item{
    transition: 150ms ease-out;
    display: none;
    opacity: 0;
    visibility: hidden;
    &.show{
        opacity: 1;
        visibility: visible;
    }
    &.active{
        display: block;
    }
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    &P{
        text-align: center;
        max-width: 480px;
        color: #626262;
        margin-bottom: 16px;
    }
    a{
        margin-left: auto;
        margin-right: auto;
    }
}