@import '../mixins.scss';
.fees{
    padding-bottom: 80px;
    @include media(576){
        padding-bottom: 60px;
    }
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 42px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 8px;
    text-align: center;
    @include media(576){
        font-size: 27px;
    }
}
.desc{
    font-size: 18px;
    line-height: 120%;
    color: #626262;
    margin-bottom: 16px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    border: 2px solid #E6E6E6;
    padding: 8px;
    border-radius: 40px;
    margin-bottom: 40px;
    gap: 8px;
}
.button{
    border-radius: 40px;
    font-weight: 700;
    transition: 300ms ease-out;
    font-size: 14px;
    color: #0094FF;
    text-decoration: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    &.active{
        background: #0094FF;
        color: #fff;
    }
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    &P{
        text-align: center;
        max-width: 480px;
        color: #626262;
        margin-bottom: 16px;
    }
    a{
        margin-left: auto;
        margin-right: auto;
    }
}
.item{
    transition: 150ms ease-out;
    display: none;
    opacity: 0;
    visibility: hidden;
    .button{
        font-weight: 500;
    }
    &.show{
        opacity: 1;
        visibility: visible;
    }
    &.active{
        display: block;
    }
}
.table{
    border: 2px solid #E6E6E6;
    border-radius: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    &Row{
        display: flex;
        justify-content: space-between;
        @include media(992){
            flex-direction: column;
            justify-content: flex-start;
        }
        &+.tableRow{
            border-top: 2px solid #E6E6E6;
        }
    }
    &Title{
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 5px;
        font-weight: 600;
    }
    &Desc{
        color: #626262;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 8px;
    }
    &Content{
        min-width: 75%;
        width: 75%;
        padding: 32px 24px;
        @include media(992){
            padding: 32px 24px 16px 24px;
            width: 100%;
        }
    }
    &Imgs{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        flex-wrap: wrap;
    }
    &Value{
        flex: 1 1 auto;
        border-left: 2px solid #E6E6E6;
        padding: 32px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(992){
            padding: 0 24px 32px 24px;
            justify-content: flex-start;
            align-items: flex-start;
            border-left: none;
        }
    }
    &P{
        text-align: center;
        font-size: 18px;
        line-height: 120%;
        @include media(992){
            text-align: left;
        }
    }
}