.header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}
.logo{
    line-height: 0;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    &Item{
        padding: 8px 16px;
        color: #131313;
        font-size: 16px;
        text-decoration: none;
        transition: 300ms ease-out;
        border-radius: 50px;
        &.active{
            background-color: #F2F2F2;
        }
    }
}
.lang{
    position: relative;
    user-select: none;
    *{
        user-select: none;
    }
    &Btn{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 16px;
        color: #131313;
    }
    &List{
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        padding: 8px;
        background: #fff;
        border-radius: 12px;
        width: 130px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
    }
    &Item{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        font-size: 16px;
        padding: 7px 12px;
        transition: 300ms ease-out;
        border-radius: 12px;
        color: #131313;
        width: 100%;
        &:hover{
            background-color: #F2F2F2;
        }
    }
    &Overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn{
    margin-left: 24px;
    padding: 12px 16px;
    color: #fff;
    background-color: #0094FF;
    font-size: 14px;
    text-decoration: none;
    border-radius: 50px;
    transition: 300ms ease-out;
    &:hover{
        background-color: #0182DF;
    }
    &:active{
        background-color: #0073c5;
    }
}